# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data/artifacts (keep folder structure, ignore contents)
data/**
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/processed/my_processed_clinvar.parquet
!data/processed/README.md
reports/**
!reports/.gitkeep
!reports/figures/.gitkeep

# Results/artifacts (keep folder structure, ignore contents)
results/**
!results/.gitkeep
